<h1 class="text-center">ID Perú</h1>
<h4 class="text-center">ASP C# Example Integration</h4>

<div class="col-sm-12 text-center">
    <a href="@ViewData["url"]" class="btn btn-success">Ingresar</a>
</div>
